*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
    height: 100vh;
  Font-size: 15px;
}

main{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h3{
  padding: 2em;
   font-family: Big Shoulders Display;
  color: white;
  font-weight: 700px;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  font-weight: 400px;
}
.sedans{
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
}

.SUV{
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}
.LUXURY{
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
}

.sedanbtn{
  color:hsl(31, 77%, 52%);
  background-color: white;
  font-family: Lexend Deca;
  justify-content: center;
  border: none;
 border-radius: 30px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 150px;
  margin: 30px;
  cursor: pointer;
}
.suvbtn{
  color:hsl(184, 100%, 22%);
  background-color: white;
  font-family: Lexend Deca;
  justify-content: center;
  border: none;
 border-radius: 30px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 150px;
  margin: 30px;
  cursor: pointer;
}

.luxbtn{
  color:hsl(179, 100%, 13%);
  background-color: white;
  font-family: Lexend Deca;
  justify-content: center;
  border: none;
 border-radius: 30px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 150px;
  margin: 30px;
  cursor: pointer;
}
.grid-btn{
    margin-top: 30px;
    background-color: black;
}
.grid-btn a:link {
    background-color: brown;
    color: white;
    padding: 10px 25px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }